@import '../../../node_modules/nav-frontend-core/less/_mixins';
@import '../../../node_modules/nav-datovelger/dist/datovelger/styles/datovelger.css';

@import './variables.less';
@import './nav-frontend-override.less';
@import '../dev/dev.less';

#app {
    background-color: #efefef;
    min-width: 320px;
    .clearfix();
    .bolk {
        &__tittel {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }
    .content {
        margin: 0 auto;
        padding: 2rem 4rem;
        background-color: white;
        border-radius: 4px;
        &--withoutMargin {
            max-width: none;
            padding: 0;
        }
        @media (max-width: @tablet-breakpoint) {
            padding: 2rem 1rem;
        }
    }
}
body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
}

p  {
    margin: 0 0 1rem 0;
}

.noPadding {
    padding: 0;
}

.comment {
    color: #3e3832;
}
