@import '../../../node_modules/nav-frontend-core/less/_mixins';
@import '../../../node_modules/nav-frontend-lenker-style/src/lenker-style.less';
@import '../../../node_modules/nav-datovelger/dist/datovelger/styles/datovelger.css';

@import './variables.less';
@import './nav-frontend-override.less';
@import './mixins.less';

#app {
    background-color: #efefef;
    min-width: 320px;
    .clearfix();

    .bolk {
        &__tittel {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    .content {
        margin: 0 auto;
        padding: 2rem 5rem;
        background-color: white;
        border-radius: 4px;

        &--withoutMargin {
            max-width: none;
            padding: 0;
        }

        @media (max-width: @tablet-breakpoint) {
            padding: 2rem 1rem;
        }
    }
}

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #3e3832;
}

p {
    margin: 0 0 1rem 0;
}

ul {
    margin: 0;
}

.noPadding {
    padding: 0;
}

.comment {
    color: #7f756c;
}

.grayBlock {
    .grayBlock();
}

.capitalizeFirstLetter {
    &::first-letter {
        text-transform: capitalize;
    }
}

.nav-datovelger__navbar__yearSelector {
    white-space: nowrap;
}

@media (max-width: @mobile-breakpoint) {
    .periodeBlokk--nyPeriode {
        .nav-datovelger__kalenderPortal {
            position: fixed;
            top: 0;
            left: -1.5rem;
            right: 0;
        }
    }
}

.text-ellipsis {
    text-overflow: ellipsis;
}

.focus-trap:focus {
    border-radius: 0.5rem;
    .focusOutline();
}

.planlegger {
    margin-bottom: 4rem;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }

    &__wrapper {
        width: 100%;
        max-width: @app-max-width;
        flex-shrink: 0;
    }
}
