@import '../../shared/styles/shared.less';
@import '../components/utsettelseDialog/utsettelseDialog.less';

.planlegger {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 1rem 4rem 1rem;
}

.planlegger-skjema {
	margin-bottom: 2rem;
}

.blockSpacing {
	margin-bottom: 2rem;
}
