@import '../../common/styles/variables.less';

/* Periodetyper */
@c-periodefarge-lilla: #634689;
@c-periodefarge-lilla--gradert: #d2c3e6;
@c-periodefarge-blaa: #3385d1;
@c-periodefarge-blaa--gradert: #c2dbf2;
@c-periodefarge-gronn: #06893a;
@c-periodefarge-gronn--gradert: #7ccf9d;
@c-periodefarge-gul: #ff9100;
@c-periodefarge-graa: #7f756c;

@c-border-gray: #c6c2bf;
