{
	"plugins": ["transform-object-rest-spread", "transform-flow-strip-types"],
	"presets": ["env", "react"],
	"env": {
		"test": {
			"plugins": [["babel-plugin-webpack-alias", { "config": "./src/build/webpack/webpack.config.global.js" }]]
		}
	}
}
