{
    "plugins": ["transform-object-rest-spread"],
    "presets": ["env", "react", "typescript"],
    "env": {
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs",
                ["babel-plugin-webpack-alias", {
                    "config": "./src/build/webpack/webpack.config.global.js"
                }]
            ]
        }
    }
}
