@import '../../styles/variables.less';
.fordelingGraf {
    &__titler {
        display: flex;
    }
    &__tittel  {
        flex: 1 1 0;
        &:first-child {
            text-align: left;
        }
        &:nth-child(2) {
            text-align: center;
        }
        &:last-child {
            text-align: right;
        }
    }
    &__forbruk {
        text-align: center;
        margin-bottom: 1rem;
        &__navn {
            text-transform: uppercase;
            color: #3e3832;
            margin-bottom: 0.25rem;
            font-size: 0.875rem;
        }
        .varighet__value {
            font-size: 1.5rem;
            font-weight: 500;
            margin-right: 0.25rem;
        }
        .varighet__separator {
            width: 0.75rem;
            display: inline-block;
            text-align: left;
        }
        .varighet__title {
            font-size: 0.875rem;
            text-transform: uppercase;
        }
    }
    &__graf {
        position: relative;
        background-color: #d9d6d1;
        display: flex;
        &__bar {
            transition: all 0.25s ease-in-out;
            will-change: transform;
            transform: translate3d();
            background-color: gray;
            height: 2.5rem;
            display: block;
            margin: 0;
            border-right: 1px solid white;
            &:last-child {
                border-right: none;
            }
        }
    }
    .bkg-farMedmor {
        background-color: @c-periodefarge-blaa;
    }
    .bkg-mor {
        background-color: @c-periodefarge-lilla;
    }
}
