@blinkDuration: 5s;
@hairstrandNBaseTransform: rotate(-24deg) translateX(30px) translateY(23px);
@blowHairDuration: 75s;
@blowHairDelay: 20s;

.veileder {
	width: 100%;
	@noseColor: #d1bfa3;
	@mouthColor: #d19e9c;
	.hairstrand {
		stroke: #d2654c;
		stroke-width: 1;
		transform-origin: 0 0;
		transform: @hairstrandNBaseTransform;
		animation: hairstrand @blowHairDuration infinite;
		animation-delay: @blowHairDelay;
	}
	.hair {
		transition: all 2s ease;
	}
	.hair {
		animation: hair 15s infinite;
		transform-origin: 50% 0;
	}
	.mouth {
		stroke: @mouthColor;
		stroke-width: 0.2;
		vector-effect: non-scaling-stroke;
		animation: mouth2 @blowHairDuration infinite;
		animation-delay: @blowHairDelay;
		transform-origin: 50% 50%;
	}
	.nose {
		stroke: @noseColor;
		stroke-width: 0.2;
		vector-effect: non-scaling-stroke;
		animation: noseUp @blinkDuration infinite;
		animation-timing-function: ease;
	}
	.eye {
		animation: eyeBlink @blinkDuration infinite;
		animation-timing-function: ease;
	}
	#ansikt--glad {
		opacity: 0;
		transition: all 0.3s ease;
	}
	#ansikt--skeptisk {
		opacity: 0;
		transition: all 0.3s ease;
	}
	#ansikt--undrende {
		opacity: 0;
		transition: all 0.3s ease;
		.mouth,
		.nose {
			stroke-width: 2;
		}
	}
	&--glad #ansikt--glad {
		opacity: 1;
	}

	&--skeptisk #ansikt--skeptisk {
		opacity: 1;
	}

	&--undrende #ansikt--undrende {
		opacity: 1;
	}

	#bakgrunn {
		transition: fill 0.5s ease;
	}
	&--tema-purple #bakgrunn {
		fill: #c1b5d0;
	}
	&--tema-green #bakgrunn {
		fill: #9bd0b0;
	}
	&--tema-blue #bakgrunn {
		fill: #c2eaf7;
	}
}

@keyframes eyeBlink {
	0% {
		transform: scaleY(1);
	}
	79% {
		transform: scaleY(1);
	}
	80% {
		transform: translate(0, 3px) scaleY(0.1);
	}
	81.5% {
		transform: scaleY(1);
	}
}

@keyframes noseUp {
	0% {
		transform: scaleY(1);
	}
	79% {
		transform: scaleY(1);
	}
	80% {
		transform: translate(0, -0.4px);
	}
	81.5% {
		transform: scaleY(1);
	}
}

@keyframes mouth {
	0% {
		transform: scaleY(1);
	}
	30% {
		transform: scaleY(1);
	}
	60% {
		transform: translateX(0) scaleY(0.8) scaleX(0.92);
	}
	89% {
		transform: translateX(0) scaleY(0.9) scaleX(0.97);
	}
	96% {
		transform: scaleY(1);
	}
}
@keyframes mouth2 {
	7.5% {
		transform: none;
	}
	8.5% {
		transform: scaleY(-0.6) skewX(40deg) scaleX(0.8) rotate(8deg)
			translateX(3px) translateY(2px);
	}
	9% {
		transform: none;
	}
}

@keyframes hairstrand {
	1% {
		transform: @hairstrandNBaseTransform;
	}
	5% {
		transform: rotate(-17deg) translateX(30px) translateY(23px);
	}
	8% {
		transform: rotate(-16deg) translateX(30px) translateY(23px);
	}
	8.5% {
		transform: @hairstrandNBaseTransform;
	}
}

@keyframes hair {
	10% {
		transform: skewX(0deg);
	}
	20% {
		transform: skewX(0.3deg);
	}
	54% {
		transform: skewX(-0.2deg);
	}
	61% {
		transform: skewX(-1deg);
	}
	65% {
		transform: skewX(0.1deg);
	}
	75% {
		transform: skewX(0deg);
	}
	90% {
		transform: skewX(0.5deg);
	}
}
