@import '../../styles/variables.less';
@import '../../../../node_modules/nav-frontend-knapper-style/src/mixins.less';
.ikonKnapp {
    .knappbase-mixin(inherit);
    padding: 0;
    border: none;
    background: none;
    line-height: 1em;
}
