.infotekst {
	background-color: @navLillaLighten80;
	border-radius: @defaultBorderRadius;
	padding: 1.5rem 1rem;

	&__veileder {
		float: right;
		margin-left: 1rem;
		margin-bottom: 1rem;
		svg {
			margin-top: -0.5rem;
			width: 3.5rem;
			height: 3.5rem;
		}
	}

	&__utvidetInfo {
		padding-top: 1rem;
	}

	&--kompakt {
		padding: 1rem;
		.infotekst__veileder {
			float: left;
			margin-left: 0;
			margin-right: 1rem;
			svg {
				margin-top: 0;
				width: 2.5rem;
				height: 2.5rem;
			}
		}
	}
}
