.periodeElement {
    position: relative;
    padding: 1rem 1.5rem 1rem calc(1.5rem + 0.25rem);
    margin: 0;
    display: flex;
    &__tools {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        display: inline-block;
    }
    &__tool  {
        margin-bottom: 0.5rem;
    }
    &__periode {
        flex: 3 1 0;
    }
    &__forelder {
        min-width: 5rem;
        align-self: flex-end;
        margin-left: 0.5rem;
    }
    &__tidsperiode {
        min-width: 9rem;
        align-self: flex-end;
        margin-left: 0.5rem;
    }
    .menuButton,
    .dropdownButton {
        width: 100%;
    }
}

.dragHandle {
    display: flex;
    font-size: 1.2rem;
    align-content: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #dfdfdf;
    border-radius: 0.25rem;
    &__content {
        display: block;
        line-height: 28px;
    }
    cursor: move;
}

.valgtPeriodetype {
    display: flex;
    align-items: center;
    position: relative;

    &__ikon {
        margin-left: 0.5rem;
        flex: 1 1 0;
    }
    &__label {
        width: 100%;
        padding-left: 0.75rem;
        font-weight: bold;
    }
}

.periodetypeMeny {
    left: -0.25rem;
    right: -0.25rem;
    margin-top: 0.25rem;
    min-width: 15rem;
}
