@import '../../styles/variables.less';

.periodelisteWrapper {
    padding: 2rem;
    margin: 0 -2rem;
    border-radius: 0.5rem;
    background-color: #efefef;
    @media (max-width: @mobile-breakpoint) {
        padding: 1rem;
        margin: 0 -1rem;
    }
}

.periodeliste {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    &__periode {
        margin-bottom: 0.25rem;
    }
    &__termin {
        padding: 1rem;
        margin-bottom: 0.25rem;
    }
}

.periodeElement {
    &__periode {
        flex: 3 1 50%;
    }
}

.periodetypeDialog {
    min-width: 20rem;
}
.periodetypeMeny--låst {
    padding: 1rem;
}
.periodetypeMenyLabel {
    line-height: initial;
    &__type {
        margin-bottom: 0.25rem;
        font-weight: bold;
    }
    &__tidsperiode {
        font-weight: normal;
        color: #7f756c;
        &::first-letter {
            text-transform: capitalize;
        }
    }
}

.varighetDialog {
    min-width: 25rem;
}
