@import '../../styles/variables.less';

.periodelisteWrapper {
    padding: 2rem;
    margin: 0 -2rem;
    border-radius: 0.5rem;
    background-color: #efefef;
    @media (max-width: @mobile-breakpoint) {
        padding: 1rem;
        margin: 0 -1rem;
    }
}

.periodeliste {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    &__periode {
        margin-bottom: 0.25rem;
    }
    &__header {
        display: flex;
    }
    &__title {
        flex: 3 1 0;
    }
    &__termin,
    &__likePerioder {
        padding: 0.5rem 0.5rem 0.5rem 2.25rem;
        margin-bottom: 0.25rem;
    }
    &__tomListe {
        padding: 3rem 0;
        text-align: center;
    }
}

.periodeElement {
    &__periode {
        flex: 3 1 0;
    }
    &__varighet {
        min-width: 6rem;
    }
    &__foreldre {
        min-width: 5rem;
        &--skjema {
            min-width: 6rem;
        }
    }
}

.periodetypeDialog {
    min-width: 20rem;
}
.periodetypeMeny--låst {
    padding: 1rem;
}
.periodetypeMenyLabel {
    line-height: initial;
    &__type {
        margin-bottom: 0.25rem;
        font-weight: bold;
    }
    &__tidsperiode {
        font-weight: normal;
        color: #7f756c;
        &::first-letter {
            text-transform: capitalize;
        }
    }
}
.graderingDialog {
    min-width: 22rem;
}

.varighetDialog {
    min-width: 25rem;
}
.forelderMenyIkon {
    margin: -1rem;
    svg {
        zoom: 1.2;
    }
}
