.periodeElement {
    position: relative;
    padding: 1rem 2rem 1rem 1rem;
    margin: 0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    &__tools {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: inline-block;
    }
    &__tool  {
        margin-bottom: 0.5rem;
    }
}
