.periodeliste {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    line-height: 1.3rem;

    &__periode {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
