.periodeElement {
    position: relative;
    padding: 1.5rem 2rem 1.5rem 2rem;
    margin: 0;
    &__tools {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        display: inline-block;
    }
    &__tool  {
        margin-bottom: 0.5rem;
    }
}

.dragHandle {
    display: flex;
    font-size: 1.2rem;
    align-content: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #dfdfdf;
    border-radius: 0.25rem;
    &__content {
        display: block;
        line-height: 28px;
    }
    cursor: move;
}
