@baseUnit: 1rem;

@marginSmall: 0.5rem;
@marginMedium: 1rem;
@marginLarge: 1.5rem;

@paddingSmall: 0.5rem;
@paddingLarge: 1.25rem;

@stepPadding: @paddingLarge;

@c-purple: @navLilla;
@c-purpleLighten: @navLillaLighten20;
@c-purpleHeaderIllustrationBkg: #e0dae7;

@c-green: @navGronn;
@c-greenLighten: @navGronnLighten20;
@c-greenHeaderIllustrationBkg: #cae7d9;

@z-index-daypicker: 200;

@c-green: #06893a;
@c-purple: #634689;
@c-blue: #5eaec7;
