/** External modules */
@import '../../../node_modules/react-day-picker/lib/style.css';

/** NAV frontend modules */
@import '../../../node_modules/nav-frontend-core/less/_variabler.less';
@import '../../../node_modules/nav-frontend-core/less/_mixins';
@import '../../../node_modules/nav-frontend-typografi-style/src/index.less';

@import './_variables';
@import './_modifiers';
@import './_nav-frontend-radiobutton';

/** Komponenter */
@import '../components/dateInput/dayPicker.less';
@import '../components/rangeInput/rangeInput.less';
@import '../components/radioliste/radioliste.less';

*,
*:before,
*:after {
	box-sizing: border-box;
}

#app  {
	background-color: white;
	min-width: 375px;
	.clearfix();

	> .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}
