@import '../../../common/styles/mixins.less';

.oppsummeringBlokk {
    .grayBlock();
    padding: 2rem;

    &__tittel {
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
