@import '../../styles/mixins.less';

.skjemablokkWrapper {
    /* For å forhindre at outline kuttes under animasjon */
    margin-left: -1rem;
    margin-right: -1rem;
}

.skjemablokk {
    padding-left: 1rem;
    padding-right: 1rem;

    &:focus {
        outline: none;
    }

    > .skjema__legend {
        margin-bottom: 1rem;
        line-height: 1.5rem;
    }

    &__beskrivelse {
        margin-top: -0.5rem;
        margin-bottom: 1.5rem;
    }

    &__tittel {
        display: inline-block;
    }

    &__infoToggler {
        display: inline-block;
        margin-left: 0.5rem;

        svg {
            line-height: 0;
        }
    }

    &__info {
        margin-top: -0.5rem;
        padding-bottom: 1rem;
    }
}
