@import '../../styles/variabler.less';

.infoToggler {
	position: relative;
	border: none !important;
	background: transparent;
	padding: 0;
	color: #0067c5;
	border-bottom: 1px solid #0067c5;
	text-align: left;
	display: block;
	&:focus {
		.buttonFocus();
	}
	&__content {
		border-bottom: solid 1px #b7b1a9;
		display: flex;
	}
	&:hover,
	&:focus,
	&:active {
		.infoToggler__content {
			border-bottom-color: #0067c5;
		}
	}
	&__label  {
		display: inline-block;
		flex-basis: 100%;
	}
	&__chevron {
		display: inline-block;
		vertical-align: middle;
		height: 1rem;
		position: relative;

		.nav-frontend-chevron {
			margin-top: 0.7rem;
			margin-left: 0.4rem;
		}
	}
}
