@import './../../../common/styles/mixins.less';
@import './../../../common/styles/variables.less';

.menuButton {
    position: relative;
    display: inline-block;
    line-height: 1rem;
    &__button {
        .menuButton();
    }
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__wrapper {
        position: absolute;
        z-index: @z-popup;
        top: 100%;
        margin-top: 0.25rem;
        min-width: 10rem;
        background-color: #fff;
        padding: 1rem;
        border: 1px solid #e5e5e5;
        border-radius: 0.25rem;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }
    &__menuItem {
        .borderButton();
        padding: 1rem 1rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
        &--selected {
            background-color: rgba(0, 103, 197, 0.2);
            border: 1px solid transparent;
        }
    }
}

.menuButtonIconLabel {
    display: flex;
    align-items: center;
    position: relative;
    &__icon {
        margin-left: 0.5rem;
        margin-right: 0.75rem;
        flex: 1 1 0;
    }
    &--iconOnly {
        width: 100%;
        text-align: center;
        .menuButtonIconLabel__icon {
            margin-right: 0.5rem;
        }
    }

    &__label {
        width: 100%;
        font-weight: bold;
    }
}
