@import './../../../common/styles/mixins.less';
@import './../../../common/styles/variables.less';

.menuButton {
    position: relative;
    display: inline-block;
    line-height: 1rem;
    &__button {
        .menuButton();
    }
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__wrapper {
        position: absolute;
        left: 0;
        right: 0;
        z-index: @z-popup;
        top: 100%;
        margin-top: 0.25rem;
        min-width: 10rem;
        background-color: #fff;
        padding: 1.5rem;
        border: 1px solid #e5e5e5;
        border-radius: 0.5rem;
    }
    &__menuItem,
    &__menuItem--clean {
        .borderButton();
        padding: 1rem 1rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }
    &__menuItem--clean {
        padding: 0;
    }
}
